:root {
	/* -----------------------------------------------------------------------------
	 * Colors - Typography
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-primary: #141827;
	--tec-color-text-primary-light: rgba(var(--tec-color-text-primary), 0.62);
	--tec-color-text-secondary: #5d5d5d;
	--tec-color-text-disabled: #d5d5d5;
	--tec-color-text-events-title: var(--tec-color-text-primary);
	--tec-color-text-event-title: var(--tec-color-text-events-title); /* specifically for the single event */
	--tec-color-text-event-date: var(--tec-color-text-primary);
	--tec-color-text-event-date-secondary: var(--tec-color-text-secondary);

	/* -----------------------------------------------------------------------------
	 * Colors - Iconography
	 * ----------------------------------------------------------------------------- */

	--tec-color-icon-primary: #5d5d5d;
	--tec-color-icon-primary-alt: #757575;
	--tec-color-icon-secondary: #bababa;
	--tec-color-icon-active: #141827;
	--tec-color-icon-disabled: #d5d5d5;
	--tec-color-icon-focus: #334aff;
	--tec-color-icon-error: #da394d;

	/* -----------------------------------------------------------------------------
	 * Colors - UI
	 * ----------------------------------------------------------------------------- */

	--tec-color-accent-primary: #334aff;
	--tec-color-accent-primary-hover: rgba(var(--tec-color-accent-primary), 0.8);
	--tec-color-accent-primary-active: rgba(var(--tec-color-accent-primary), 0.9);
	--tec-color-accent-primary-background: rgba(var(--tec-color-accent-primary), 0.07);
	--tec-color-accent-primary-multiday: rgba(var(--tec-color-accent-primary), 0.24);
	--tec-color-accent-primary-multiday-hover: rgba(var(--tec-color-accent-primary), 0.34);
	--tec-color-accent-primary-week-event: rgba(var(--tec-color-accent-primary), 0.1);
	--tec-color-accent-primary-week-event-hover: rgba(var(--tec-color-accent-primary), 0.2);
	--tec-color-accent-primary-week-event-featured: rgba(var(--tec-color-accent-primary), 0.04);
	--tec-color-accent-primary-week-event-featured-hover: rgba(var(--tec-color-accent-primary), 0.14);
	--tec-color-accent-secondary: #141827;
	--tec-color-accent-secondary-hover: rgba(var(--tec-color-accent-secondary), 0.8);
	--tec-color-accent-secondary-active: rgba(var(--tec-color-accent-secondary), 0.9);
	--tec-color-accent-secondary-background: rgba(var(--tec-color-accent-secondary), 0.07);

	/* -----------------------------------------------------------------------------
	 * Colors - Links
	 * ----------------------------------------------------------------------------- */

	 --tec-color-link-primary: var(--tec-color-text-primary);
	 --tec-color-link-accent: var(--tec-color-accent-primary);
	 --tec-color-link-accent-hover: rgba(var(--tec-color-link-accent), 0.8);

	/* -----------------------------------------------------------------------------
	 * Colors - Borders & Misc
	 * ----------------------------------------------------------------------------- */

	--tec-color-border-default: #d5d5d5;
	--tec-color-border-secondary: #e4e4e4;
	--tec-color-border-tertiary: #7d7d7d;
	--tec-color-border-hover: #5d5d5d;
	--tec-color-border-active: #141827;
	--tec-color-background: #fff;
	--tec-color-background-events: transparent;
	--tec-color-background-transparent: rgba(var(--tec-color-background), 0.6);
	--tec-color-background-secondary: #f7f6f6;
	--tec-color-background-messages: rgba(var(--tec-color-text-primary), 0.07);
	--tec-color-background-secondary-hover: #f0eeee;
	--tec-color-background-error: rgba(var(--tec-color-icon-error), 0.08);
	--tec-color-box-shadow: rgba(#000, 0.14);
	--tec-color-box-shadow-secondary: rgba(#000, 0.1);
	--tec-color-scroll-track: rgba(#000, 0.25);
	--tec-color-scroll-bar: rgba(#000, 0.5);

	/* -----------------------------------------------------------------------------
	 * Colors - Theme-specific
	 * ----------------------------------------------------------------------------- */

	--tec-color-twentyseventeen-dark-background: #222;
}
