:root {
	/* -----------------------------------------------------------------------------
	 * Colors - Typography
	 * ----------------------------------------------------------------------------- */

	--tec-color-text-primary: #141827;
	--tec-color-text-primary-light: rgba(20, 24, 39, 0.62);
	--tec-color-text-secondary: #5d5d5d;
	--tec-color-text-disabled: #d5d5d5;

	/* -----------------------------------------------------------------------------
	 * Colors - Element Typography
	 * ----------------------------------------------------------------------------- */
	--tec-color-text-events-title: var(--tec-color-text-primary);
	--tec-color-text-event-title: var(--tec-color-text-events-title); /* specifically for the single event */
	--tec-color-text-event-date: var(--tec-color-text-primary);
	--tec-color-text-secondary-event-date: var(--tec-color-text-secondary);

	/* -----------------------------------------------------------------------------
	 * Colors - Iconography
	 * ----------------------------------------------------------------------------- */

	--tec-color-icon-primary: #5d5d5d;
	--tec-color-icon-primary-alt: #757575;
	--tec-color-icon-secondary: #bababa;
	--tec-color-icon-active: #141827;
	--tec-color-icon-disabled: #d5d5d5;
	--tec-color-icon-focus: #334aff;
	--tec-color-icon-error: #da394d;
	--tec-color-event-icon: #141827;
	--tec-color-event-icon-hover: #334aff;

	/* -----------------------------------------------------------------------------
	 * Colors - UI Base
	 * ----------------------------------------------------------------------------- */

	--tec-color-accent-primary: #334aff;
	--tec-color-accent-primary-hover: rgba(51, 74, 255, 0.8);
	--tec-color-accent-primary-active: rgba(51, 74, 255, 0.9);
	--tec-color-accent-primary-background: rgba(51, 74, 255, 0.07);
	--tec-color-accent-secondary: #141827;
	--tec-color-accent-secondary-hover: rgba(20, 24, 39, 0.8);
	--tec-color-accent-secondary-active: rgba(20, 24, 39, 0.9);
	--tec-color-accent-secondary-background: rgba(20, 24, 39, 0.07);

	/* -----------------------------------------------------------------------------
	 * Colors - Buttons
	 * ----------------------------------------------------------------------------- */
	--tec-color-button-primary: var(--tec-color-accent-primary);
	--tec-color-button-primary-hover: var(--tec-color-accent-primary-hover);
	--tec-color-button-primary-active: var(--tec-color-accent-primary-active);
	--tec-color-button-primary-background: var(--tec-color-accent-primary-background);
	--tec-color-button-secondary: var(--tec-color-accent-secondary);
	--tec-color-button-secondary-hover: var(--tec-color-accent-secondary-hover);
	--tec-color-button-secondary-active: var(--tec-color-accent-secondary-active);
	--tec-color-button-secondary-background: var(--tec-color-accent-secondary-background);

	/* -----------------------------------------------------------------------------
	 * Colors - Links
	 * ----------------------------------------------------------------------------- */

	--tec-color-link-primary: var(--tec-color-text-primary);
	--tec-color-link-accent: var(--tec-color-accent-primary);
	--tec-color-link-accent-hover: rgba(51, 74, 255, 0.8);

	/* -----------------------------------------------------------------------------
	 * Colors - Borders & Misc
	 * ----------------------------------------------------------------------------- */

	--tec-color-border-default: #d5d5d5;
	--tec-color-border-secondary: #e4e4e4;
	--tec-color-border-tertiary: #7d7d7d;
	--tec-color-border-hover: #5d5d5d;
	--tec-color-border-active: #141827;
	--tec-color-background: #fff;
	--tec-color-background-events: transparent;
	--tec-color-background-transparent: rgba(255, 255, 255, 0.6);
	--tec-color-background-secondary: #f7f6f6;
	--tec-color-background-messages: rgba(20, 24, 39, 0.07);
	--tec-color-background-secondary-hover: #f0eeee;
	--tec-color-background-error: rgba(218, 57, 77, 0.08);
	--tec-color-box-shadow: rgba(#000, 0.14);
	--tec-color-box-shadow-secondary: rgba(#000, 0.1);
	--tec-color-scroll-track: rgba(#000, 0.25);
	--tec-color-scroll-bar: rgba(#000, 0.5);

	/* -----------------------------------------------------------------------------
	 * Colors - Element UI
	 * ----------------------------------------------------------------------------- */
	--tec-color-background-primary-multiday: rgba(51, 74, 255, 0.24);
	--tec-color-background-primary-multiday-hover: rgba(51, 74, 255, 0.34);
	--tec-color-background-secondary-multiday: rgba(20, 24, 39, 0.24);
	--tec-color-background-secondary-multiday-hover: rgba(20, 24, 39, 0.34);
	--tec-color-accent-primary-week-event: rgba(51, 74, 255, 0.1);
	--tec-color-accent-primary-week-event-hover: rgba(51, 74, 255, 0.2);
	--tec-color-accent-primary-week-event-featured: rgba(51, 74, 255, 0.04);
	--tec-color-accent-primary-week-event-featured-hover: rgba(51, 74, 255, 0.14);
	--tec-color-background-secondary-datepicker: var(--tec-color-background-secondary);
	--tec-color-accent-primary-background-datepicker: var(--tec-color-accent-primary-background);
}
