:root {
	/* -----------------------------------------------------------------------------
	 * Forms - Colors
	 * ----------------------------------------------------------------------------- */

	--tec-form-color-background: var(--tec-color-background);
	--tec-form-color-border-default: var(--tec-color-text-primary);
	--tec-form-color-border-active: var(--tec-color-accent-secondary);
	--tec-form-color-border-secondary: var(--tec-color-border-tertiary);
	--tec-form-color-accent-primary: var(--tec-color-accent-primary);

	/* -----------------------------------------------------------------------------
	 * Forms - Box Shadows
	 * ----------------------------------------------------------------------------- */

	--tec-form-box-shadow-default: var(--tec-box-shadow-default);
}
