:root {
	/* -----------------------------------------------------------------------------
	 * Layers of z-index
	 * ----------------------------------------------------------------------------- */

	--layer-spinner-container: 100;
}
