:root {
	/* -----------------------------------------------------------------------------
	 * Opacities
	 * ----------------------------------------------------------------------------- */

	--opacity-hover: 0.8;
	--opacity-active: 0.9;
	--opacity-default: 1;
}
