:root {
	/* -----------------------------------------------------------------------------
	 * Outlines - Active/Focus
	 * ----------------------------------------------------------------------------- */

	--tec-outline-active-default: 2px solid var(--tec-color-border-active, #1a202c);
	--tec-outline-offset-default: 2px;
}
