/* -----------------------------------------------------------------------------
 * SVG - Arrow Right
 * ----------------------------------------------------------------------------- */

@svg-load arrow-right-white url('../../../images/icons/arrow-right.svg') {

	polygon {
		fill: var(--color-background);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Caret Left
 * ----------------------------------------------------------------------------- */

@svg-load caret-left url('../../../images/icons/caret-left.svg') {

	polygon {
		fill: var(--color-icon-primary);
	}
}

@svg-load caret-left-active url('../../../images/icons/caret-left.svg') {

	polygon {
		fill: var(--color-icon-active);
	}
}

@svg-load caret-left-disabled url('../../../images/icons/caret-left.svg') {

	polygon {
		fill: var(--color-icon-disabled);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Caret Right
 * ----------------------------------------------------------------------------- */

@svg-load caret-right url('../../../images/icons/caret-right.svg') {

	polygon {
		fill: var(--color-icon-primary);
	}
}

@svg-load caret-right-active url('../../../images/icons/caret-right.svg') {

	polygon {
		fill: var(--color-icon-active);
	}
}

@svg-load caret-right-disabled url('../../../images/icons/caret-right.svg') {

	polygon {
		fill: var(--color-icon-disabled);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Check
 * ----------------------------------------------------------------------------- */

@svg-load check-white url('../../../images/icons/check.svg') {

	path {
		fill: var(--color-background);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Day
 * ----------------------------------------------------------------------------- */

@svg-load day url('../../../images/icons/day.svg') {}

/* -----------------------------------------------------------------------------
 * SVG - Dropdown
 * ----------------------------------------------------------------------------- */

@svg-load dropdown url('../../../images/icons/dropdown.svg') {

	polygon {
		fill: var(--color-icon-primary);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Featured
 * ----------------------------------------------------------------------------- */

@svg-load featured url('../../../images/icons/featured-event.svg') {

	polygon {
		fill: var(--color-accent-primary);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Filters
 * ----------------------------------------------------------------------------- */

@svg-load filters url('../../../images/icons/filters.svg') {

	path {
		fill: var(--color-icon-primary);
		stroke: var(--color-icon-primary);
	}
}

@svg-load filters-active url('../../../images/icons/filters.svg') {

	path {
		fill: var(--color-icon-active);
		stroke: var(--color-icon-active);
	}
}

@svg-load filters-disabled url('../../../images/icons/filters.svg') {

	path {
		fill: var(--color-icon-disabled);
		stroke: var(--color-icon-disabled);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - List
 * ----------------------------------------------------------------------------- */

@svg-load list url('../../../images/icons/list.svg') {}

/* -----------------------------------------------------------------------------
 * SVG - Map
 * ----------------------------------------------------------------------------- */

@svg-load map url('../../../images/icons/map.svg') {}

/* -----------------------------------------------------------------------------
 * SVG - Month
 * ----------------------------------------------------------------------------- */

@svg-load month url('../../../images/icons/month.svg') {}

/* -----------------------------------------------------------------------------
 * SVG - Photo
 * ----------------------------------------------------------------------------- */

@svg-load photo url('../../../images/icons/photo.svg') {}

/* -----------------------------------------------------------------------------
 * SVG - Recurring
 * ----------------------------------------------------------------------------- */

@svg-load recurring url('../../../images/icons/recurring-events.svg') {

	path {
		fill: var(--color-accent-primary);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Search
 * ----------------------------------------------------------------------------- */

@svg-load search url('../../../images/icons/search.svg') {

	path {
		fill: var(--color-icon-primary);
	}
}

@svg-load search-active url('../../../images/icons/search.svg') {

	path {
		fill: var(--color-icon-active);
	}
}

@svg-load search-disabled url('../../../images/icons/search.svg') {

	path {
		fill: var(--color-icon-disabled);
	}
}

/* -----------------------------------------------------------------------------
 * SVG - Week
 * ----------------------------------------------------------------------------- */

@svg-load week url('../../../images/icons/week.svg') {}
