:root {
	/* -----------------------------------------------------------------------------
	 * Layers of z-index
	 * ----------------------------------------------------------------------------- */

	--tec-z-index-spinner-container: 100;
	--tec-z-index-views-selector: 30;
	--tec-z-index-dropdown: 30;
	--tec-z-index-events-bar-button: 20;
	--tec-z-index-search: 10;
	--tec-z-index-filters: 9;
	--tec-z-index-scroller: 7;
	--tec-z-index-week-event-hover: 5;
	--tec-z-index-map-event-hover: 5;
	--tec-z-index-map-event-hover-actions: 6;
	--tec-z-index-multiday-event: 5;
	--tec-z-index-multiday-event-bar: 2;
}
