:root {
	/* -----------------------------------------------------------------------------
	 * Layers of z-index
	 * ----------------------------------------------------------------------------- */

	--z-index-spinner-container: 100;
	--z-index-calendar-multiday: 99;
}
