:root {
	/* -----------------------------------------------------------------------------
	 * Layers of z-index
	 * ----------------------------------------------------------------------------- */

	--z-index-spinner-container: 100;
}
